name: Run Python Scripts Sequentially

on:
  schedule:
    - cron: "*/30 * * * *" 
  workflow_dispatch:

jobs:
  run-python-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install gspread oauth2client playwright requests
          python -m playwright install chromium

      - name: Create Google Service Account JSON from secret
        run: echo "$GOOGLE_CREDS" > service_account.json
        env:
          GOOGLE_CREDS: ${{ secrets.GOOGLE_CREDS }}

      - name: Run Extract Photos script
        run: python extract_photos.py

      - name: Run Move Raw Data script
        run: python move_raw_data.py

      - name: Run import_pywhatkit_as_kit script
        run: python import_pywhatkit_as_kit.py

      - name: Run Detect Category script
        run: python detect_category.py

      - name: Run Update Form script
        run: python update_form.py
